extends layout.pug
block content    
    if(extracted.length === 0)
        h1= 'No Files Found.'
    each data in extracted
        table(class='table is-bordered is-striped is-narrow is-hoverable is-fullwidth')
            thead
                tr
                    th='Veld'
                    th='Waarde'
            tbody
                each field, key in data
                    tr
                        td= key
                        td= field

